<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<h1>List users</h1>
<hr/>
<br/>
<table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>SURNAME</th>
        <th colspan="2">optional</th>
    </tr>
    <tr th:each="u : ${user}">

        <td th:text="${u.getId()}">текущее id</td>
        <td th:text="${u.getUsername()}">текущее имя</td>
        <td th:text="${u.getRole()}">текущая роль</td>

        <td>
            <form th:action="@{'/edit/' + ${u.getId()}}">
                <button type="submit">update</button>
            </form>

        <td>
            <form th:method="POST" th:action="@{'/delete/' + ${u.getId()}}">
                <button type="submit">delete</button>
            </form>
        </td>
    </tr>
</table>
<hr/>
<form th:method="post" th:action="@{/logout}">
    <input type="submit" value="logout">
</form>
</body>
</html>